@model BoxProblem.Data.BoxInventory
@{
    ViewData["Title"] = "Delete";
}

<br />
<br />
<div class="bkg">
    <div class="row">
        <div class="col-12 headerbkg">
            Delete Confirmation
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="offset-2">
            <p>Weight: @Model.Weight</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <p>Volume: @Model.Volume</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <p>Liquid(Yes or No): @Model.CanHoldLiquid</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <p>Cost: @Model.Cost</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <p>Amount in Inventory: @Model.InventoryCount</p>
        </div>
    </div>
    <div class="row">
        <p>Are you sure you want to delete?</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div> <input type="submit" value="Delete" class="buttonB" /> </div>
            <div class="buttonB">
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>

