@using BoxProblem.Data;
@model BoxInventory
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="offset-2">
        <p>Weight: @Model.Weight</p>
    </div>
</div>
<div class="row">
    <div class="offset-2">
        <p>Volume: @Model.Volume</p>
    </div>
</div>
<div class="row">
    <div class="offset-2">
        <p>Liquid(Yes or No): @Model.CanHoldLiquid</p>
    </div>
</div>
<div class="row">
    <div class="offset-2">
        <p>Cost: @Model.Cost</p>
    </div>
</div>
<div class="row">
    <div class="offset-2">
        <p>Amount in Inventory: @Model.InventoryCount</p>
    </div>
</div>
<div class="row">
    <div class="offset-6">
        <button>Edit</button>
        <button>Back</button>
    </div>
</div>