@using BoxProblem.Data;
@model BoxInventory
@{
    ViewData["Title"] = "Edit";
}
<div class="container topspace">
</div>
<form action="Edit" method="post" class="bkg">
    <div class="row">
        <div class="col-12 headerbkg">
            Edit
        </div>
    </div>
    <div class="container topspace2">
    </div>
    <input name="IdTP" value="@Model.Id" hidden="hidden" />
    <div class="row">
        <div class="offset-2">
            <label class="label">Weight: </label><input name="Weight" type="number" value=@Model.Weight min="1" class="input"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Volume: </label><input name="Volume" type="number" value=@Model.Volume min="1" class="input"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Able to Hold Liquid: </label><input class="input" name="CanHoldLiquid" type="checkbox" value="true" checked=@Model.CanHoldLiquid />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Cost: </label><input name="Cost" type="number" step="any" value="@Model.Cost" min="" class="input"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Amount in Inventory: </label><input name="InventoryCount" type="number" value="@Model.InventoryCount" min="0" class="input"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-6">
            <input class="buttonB" type="submit" name="submit">
            <a class="buttonB" href="@Url.Action("Details","BoxInventories", new { id = @Model.Id })">Cancel</a>
        </div>
    </div>
</form>