@using BoxProblem.Data;
@model BoxInventory
@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-12 header">
        Edit
    </div>
</div>
<form action="Edit" method="post">
    <input name="IdTP" value="@Model.Id" hidden="hidden" />
    <div class="row">
        <div class="offset-2">
            <label>Weight: </label><input name="Weight" type="number" value=@Model.Weight />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Volume: </label><input name="Volume" type="number" value=@Model.Volume />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Liquid: </label><input name="CanHoldLiquid" type="checkbox" value="true" checked=@Model.CanHoldLiquid/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Cost: </label><input name="Cost" type="number" step="any" value="@Model.Cost" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Amount in Inventory: </label><input name="InventoryCount" type="number" value="@Model.InventoryCount" />
        </div>
    </div>
    <div class="row">
        <div class="offset-6">
            <input type="submit" name="submit">
        </div>
    </div>
</form>
@Html.ActionLink("Back", "Details", new { id = @Model.Id })