@using BoxProblem.Data;
@model List<BoxInventory>
@{
    ViewData["Title"] = "Index";
}
<div class="container topspace">
</div>
<div class="row" align="center">
    <div class="col-12 header">
        Inventory
</div>
    </div>
<div class="container topspace2">
</div>
<form action="BoxInventories/Search" method="post">
    <div class="row">
        <label class="label">Search for boxes larger than: </label><input class="input3" name="volLimit" type="number" />
        <input class="button2" type="submit" value="Search" />
        <div class="buttonB">@Html.ActionLink("Create", "Create", "BoxInventories")</div>
    </div>
</form>

<table class="table">
    <tr>
        <th><span class="label">Volume</span></th>
        <th><span class="label">Quantity</span></th>
        <th><br /></th>
    </tr>
    @foreach (BoxInventory box in Model)
    {
        <tr class="table" onclick="location.href='@Url.Action("Details","BoxInventories",new { id = box.Id })'">
            <td class="bodyText">@box.Volume</td>
            <td class="bodyText">@box.InventoryCount</td>
            <td>
                <a class="buttonB" href="@Url.Action("Delete","BoxInventories",new { id = box.Id })">Delete</a>
            </td>
        </tr>
    }
</table>