@using BoxProblem.Data;
@model List<BoxInventory>
@{
    ViewData["Title"] = "Index";
}
<div class="container topspace">
</div>
<div class="row" align="center">
    <div class="col-12 header">
        Inventory
</div>
    </div>
<div class="container topspace2">
</div>
<form action="BoxInventories/Search" method="post">
    <div class="row">
        <select name="travel_arriveVia" id="travel_arriveVia" onchange="showfield(this.options[this.selectedIndex].value)">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Weight">Weight</option>
            <option value="Volume">Volume</option>
            <option value="Cost">Cost</option>
            <option value="Liquid">Holds Liquid</option>
            <option value="Count">Quantity</option>
            <option value="Date">Date Recieved</option>
        </select>
        <div id="div1" style="display:none">
            <select name="SearchRelative">
                <option value="LessThan"><</option>
                <option value="GreaterThan">></option>
                <option value="Exactly">=</option>
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        </div>
        <label class="label">Search for boxes larger than: </label><input class="input3" name="volLimit" type="number" />
        <input class="button2" type="submit" value="Search" />
        <div class="buttonB">@Html.ActionLink("Create", "Create", "BoxInventories")</div>
    </div>
</form>

<table class="table">
    <tr>
        <th><span class="label">Volume</span></th>
        <th><span class="label">Quantity</span></th>
        <th><br /></th>
    </tr>
    @foreach (BoxInventory box in Model)
    {
        <tr class="table" onclick="location.href='@Url.Action("Details","BoxInventories",new { id = box.Id })'">
            <td class="bodyText">@box.Volume</td>
            <td class="bodyText">@box.InventoryCount</td>
            <td>
                <a class="buttonB" href="@Url.Action("Delete","BoxInventories",new { id = box.Id })">Delete</a>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    function showfield(name) {
        var x = document.getElementById("div1");
        var SearchRelative = document.getElementsByName("SearchRelative");
        if (name != '') {
            x.style.display = "block";
            if (name != 'Liquid') {
                
                SearchRelative[3].style.display = "none";
                SearchRelative[4].style.display = "none";
                na.style.display = "block";
            }
            else {
                SearchRelative[0].style.display = "none";
                SearchRelative[1].style.display = "none";
                SearchRelative[2].style.display = "none";
                na.style.display = "block";
            }
            
            
        }
        else {
            x.style.display = "none";
        }
    }
    
   
</script>